<html>
  <head>
    <title>FizzBuzz Result</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
  </head>
  <body> 
    <div class="page-wrap">         
      <p class="result"> You got: <%= @result %>! </p>
    </div> 
  </body>
</html>