<html>
<head>
  <title>FizzBuzz Input</title>
</head>
<body>
  <form action="/fizzbuzz">
  <p>Please enter a number:</p>
  <input type = "text" name= "number">
  <input type = "submit">
  </form> 
</body>
</html>